<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="back">back</ion-back-button>
    </ion-buttons>
    <ion-title>GLA Sport Utility Vehicle</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <img src="assets/images/catalogosdecochesclaseg.png" alt="">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mercedes Benz</ion-card-subtitle>
      <ion-card-title>GLA Sport Utility Vehicle</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El GLA abre a primera vista un sinfín de posibilidades. ¿Por dónde empezar? Lo primero es
      el ímpetu de su diseño, musculoso y aerodinámico al mismo tiempo. No en vano lidera una
      nueva categoría de vehículos. Más energía todavía encierra la propulsión: la tracción integral
      4MATIC con distribución totalmente variable del par motor es la clave de un avance dinámico.
      Tanto sobre el asfalto como fuera de éste. ¿O es quizá el ansia de aventura lo que fascina en
      primer lugar? Esto es lo que distingue al GLA del resto de vehículos. La respuesta no puede
      ser más que una: experimente todo al mismo tiempo.
    </ion-card-content>
  </ion-card>
  <div class="centrado">
    <ion-button color="light" routerLink="/pagina2" class="ion-align-items-center">
      <ion-icon slot="start" name="logo-windows" size="small"></ion-icon>
      Catálogo
    </ion-button>
  </div>
</ion-content>
