<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="back">back</ion-back-button>
    </ion-buttons>
    <ion-title>contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/images/avatar.svg" alt="avatar">
    </ion-avatar>
    <ion-label>Sales manager</ion-label>

  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="centrado">Augusto Basante</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <p class="centrado">
      <img src="assets/images/retrato.jpg" alt="logo seminuevos"></p>
      <p><ion-icon name="location-sharp"></ion-icon> Av. Francisco Becerra y Pasaje S41D</p>
      <p style="padding-left: 16px">Quito - Ecuador</p>
      <p><ion-icon name="earth-sharp"></ion-icon> www.mercedesbenz.me</p>
      <p><ion-icon name="call-sharp"></ion-icon> 0993236582</p>
    </ion-card-content>
  </ion-card>

  <div class="centrado">
    <ion-button color="light" routerLink="/pagina2" >
      <ion-icon slot="start" name="logo-windows" size="small"></ion-icon>
      Catálogo</ion-button>
  </div>
</ion-content>
