<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="back">back</ion-back-button>
    </ion-buttons>
    <ion-title>Mercedes-AMG GT</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <img src="assets/images/catalogosdecochesamggt.png" alt="">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mercedes Benz</ion-card-subtitle>
      <ion-card-title>Mercedes-AMG GT</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ya está aquí. La declaración de principios de Affalterbach. Capó alargado, habitáculo en posición retrasada, parte trasera ancha y musculosa.
      Estas son las proporciones de un vehículo deportivo de Mercedes-AMG. Con un motor impetuoso por naturaleza. El nuevo Mercedes-AMG GT.
    </ion-card-content>
  </ion-card>
<div class="centrado">
  <ion-button color="light" routerLink="/pagina2" >
    <ion-icon slot="start" name="logo-windows" size="small"></ion-icon>
    Catálogo</ion-button>
  </div>
</ion-content>
