<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="back">back</ion-back-button>
    </ion-buttons>
    <ion-title>CLS Coupé</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <img src="assets/images/catalogosdecochesclacoupe.png" alt="">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Clase A</ion-card-subtitle>
      <ion-card-title>CLS Coupé</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Póngase en camino. Con un Sports Tourer ágil y confortable capaz de
      convertir cualquier excursión en un agradable viaje. Descubra nuevos
      horizontes con tecnologías de propulsión innovadoras y sostenibles o, si
      lo desea, con la dinámica tracción integral 4MATIC. Ilumine sus planes
      con la fascinante luz de los faros LED High Performance opcionales. Hay
      mucho que conocer. ¿Está preparado? Su Clase B le está esperando..
    </ion-card-content>
  </ion-card>
  <div class="centrado">

    <ion-button color="light" routerLink="/pagina2" class="ion-align-items-center">
      <ion-icon slot="start" name="logo-windows" size="small"></ion-icon>
      Catálogo</ion-button>
  </div>
</ion-content>
