<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="back">back</ion-back-button>
    </ion-buttons>
    <ion-title>La Clase G Todoterreno.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/catalogosdecochesgle.png" alt="">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mercedes Benz</ion-card-subtitle>
      <ion-card-title>La Clase G Todoterreno.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      No importa qué reto se le plantee, la Clase G lleva más de 35 años
      conquistando nuevos espacios. Adentrándose en terrenos que se creían
      inalcanzables y llegando a los rincones más recónditos de la ciudad.
      Sin vacilar. Sin desviarse de sus metas. Siempre a la vanguardia.
    </ion-card-content>
  </ion-card>
  <div class="centrado">
    <ion-button color="light" routerLink="/pagina2" class="ion-align-items-center">
      <ion-icon slot="start" name="logo-windows" size="small"></ion-icon>Catálogo</ion-button>
  </div>
</ion-content>
