<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="back">back</ion-back-button>
    </ion-buttons>
    <ion-title>Coupé y Shooting Brake</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <img src="assets/images/catalogosdecochesglecoupe.png" alt="">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mercedes Benz</ion-card-subtitle>
      <ion-card-title>Coupé y Shooting Brake</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Llega a los escenarios una nueva generación de estrellas: el
      CLA Shooting Brake y el CLA Coupé. Pocos ídolos cuentan con más
      seguidores. Y no es de extrañar, porque su diseño es ahora aún
      más deportivo. Aumentan las posibilidades de la interconexión. Su
      virtuosismo sobre el asfalto se debe al rendimiento y la eficien-
      cia de sus motores, a DYNAMIC SELECT (disponible en función del
      modelo) y a un tren de rodaje opcional con amortiguación
      adaptativa regulable.
    </ion-card-content>
  </ion-card>
  <div class="centrado">
    <ion-button color="light" routerLink="/pagina2" class="ion-align-items-center">
      <ion-icon slot="start" name="logo-windows" size="small"></ion-icon>
      Catálogo</ion-button>
  </div>
</ion-content>
